@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: #222;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: #222;
}

h4 {
  font-size: 2rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 1.5rem 0 2rem 0;
}

body {
  width: 100%;
  font-size: 1.6rem;
}

/* header section */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 2rem;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/*  home page */

#hero {
  background: url(img/hero4.png);
  background-position: top 25% right 0;
  height: 90vh;
  width: 100%;
  background-size: cover;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 1.5rem;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("img/button.png");
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 14px 80px 14px 65px;
  border: none;
  color: #088178;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

#features {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

#features .f-box {
  text-align: center;
  width: 18rem;
  padding: 1rem;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 1.5rem 0;
}

#features .f-box img {
  width: 100%;
}

#features .f-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.15);
}

#features .f-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  margin: 1rem 0;
}

#features .f-box:nth-child(2) h6 {
  background: #cdebbc;
}

#features .f-box:nth-child(3) h6 {
  background: #d1e8f2;
}

#features .f-box:nth-child(4) h6 {
  background: #cdd4f8;
}

#features .f-box:nth-child(5) h6 {
  background: #f6dbf6;
}

#features .f-box:nth-child(6) h6 {
  background: #fff2e5;
}
